# Игнорировать все файлы с указанными расширениями
*.zip
*.json
*.png
*.pt
# Игнорировать директории и их содержимое
**/test_images/
**/__pycache__/
**/ipynb_checkpoints/
YoloToCoco.egg-info/
build/

# Игнорировать все файлы с указанными расширениями во всех директориях
**/*.pt
**/*.pth
